body {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
   }

.fonte-titulos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 32px;

}

.titulo-principal {
    color: #0066cc;
    font-style: italic;
    font-size: 46px
}

.primeiro-titulo-secundario{
    color: #0066cc;
    font-style: italic;
    font-size: 32px
}

.titulo-secundario{
    text-align: center;
}

.segundo-titulo-secundario{
    color: #11b677;
    font-style: italic;
    font-size: 32px

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px; 
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

