body {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
   }

h1 {
    font-size: 46px
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px; 
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

